body {
    background-color : rgb(16, 71, 16);
    color : rgb(255, 255, 255);
    font-family: "Arial", "Verdana", sans-serif;

}

h1 {
    color : rgb(208, 65, 65);
    text-align: center;
}

a {
    color : rgb(208, 65, 65);
    transition: color 0.3s ease;
}

a:hover {
    color:#4CAF50;
}

h2 {
    color : rgb(184, 208, 65);
}

.carte {
    color: black;
    border: 3px solid rgb(184, 208, 65);
    width: 200px;
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    opacity: 0;
    transition: opacity 1s ease;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.carte:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    background-color: rgb(187, 187, 187);
}

h3 {
    font-size: 16px;
}

.flex {
    display:flex;
    justify-content: flex-start;
    gap: 20px;
}

button {
    background-color: #4CAF50;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    transition: transform 0.1s ease;
}

.bouton:active {
    transform: scale(3);
  }

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

.flottante {
    animation: flotter 1s ease-in-out infinite alternate;
  }
  
  @keyframes flotter {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(10px);
    }
  }